<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Deletar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedClients()" [disabled]="!selectedClients || !selectedClients.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Importar" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="clients" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} páginas" [(selection)]="selectedClients" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Clientes</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                        <th pSortableColumn="rua">Rua <p-sortIcon field="rua"></p-sortIcon></th>
                        <th pSortableColumn="bairro">Bairro <p-sortIcon field="bairro"></p-sortIcon></th>
                        <th pSortableColumn="numero">Número <p-sortIcon field="numero"></p-sortIcon></th>
                        <th pSortableColumn="cidade">Cidade <p-sortIcon field="cidade"></p-sortIcon></th>
                        <th pSortableColumn="cep">CEP <p-sortIcon field="cep"></p-sortIcon></th>
                        <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                        <th pSortableColumn="telefone">Telefone <p-sortIcon field="telefone"></p-sortIcon></th>
                        <th pSortableColumn="cpf">CPF <p-sortIcon field="cpf"></p-sortIcon></th>
                        <th pSortableColumn="sexo">Sexo <p-sortIcon field="sexo"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-client>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="client"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nome</span>
                            {{client.nome}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Rua</span>
                            {{client.rua}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Bairro</span>
                            {{client.bairro}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Número</span>
                            {{client.numero}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Cidade</span>
                            {{client.cidade}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Cep</span>
                            {{client.cep}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Estado</span>
                            {{client.estado}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Telefone</span>
                            {{client.telefone}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">CPF</span>
                            {{client.cpf}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Sexo</span>
                            <span [class]="'product-badge sexo-' + (client.sexo ? client.sexo.toLowerCase() : '')">{{client.sexo}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editClient(client)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteClient(client)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="clientDialog" [style]="{width: '450px'}" header="Cadastrar Cliente" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="nome">Nome</label>
                    <input type="text" pInputText id="nome" [(ngModel)]="client.nome" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !client.nome}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !client.nome">Nome is required.</small>
                </div>
                <div class="field">
                    <label for="cpf">CPF</label>
                    <p-inputMask id="cep" mask="999.999.999-99" [(ngModel)]="client.cpf" [ngClass]="{'ng-invalid ng-dirty' : submitted && !client.cpf}"></p-inputMask>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !client.cpf">CPF is required.</small>
                </div>
                <div class="field">
                    <label for="sexo">Sexo</label>
                    <p-dropdown [(ngModel)]="client.sexo" inputId="sexo" optionValue="label" [options]="sexo" placeholder="Sexo">
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="client && client.sexo" [class]="'product-badge sexo-' + client.sexo.toString().toLowerCase()">{{client.sexo}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'product-badge sexo-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="field">
                    <label for="cep">CEP</label>
                    <p-inputMask id="cep" mask="99.999-999" [(ngModel)]="client.cep" [ngClass]="{'ng-invalid ng-dirty' : submitted && !client.cep}"></p-inputMask>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !client.cep">Cep is required.</small>
                </div>
                <div class="field">
                    <label for="rua">Rua</label>
                    <input type="text" pInputText id="" [(ngModel)]="client.rua" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !client.rua}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !client.rua">Rua is required.</small>
                </div>
                <div class="field">
                    <label for="numero">Número</label>
                    <p-inputNumber id="numero" [(ngModel)]="client.numero" mode="decimal" [useGrouping]="false"></p-inputNumber>
                </div>
                <div class="field">
                    <label for="bairro">Bairro</label>
                    <input type="text" pInputText id="bairro" [(ngModel)]="client.bairro" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !client.bairro}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !client.bairro">Bairro is required.</small>
                </div>
                <div class="field">
                    <label for="cidade">Cidade</label>
                    <input type="text" pInputText id="cidade" [(ngModel)]="client.cidade" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !client.cidade}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !client.cidade">Cidade is required.</small>
                </div>
                <div class="field">
                    <label for="estado">Estado</label>
                    <input type="text" pInputText id="estado" [(ngModel)]="client.estado" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !client.estado}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !client.estado">Estado is required.</small>
                </div>
                <div class="field">
                    <label for="telefone">Telefone</label>
                    <p-inputMask id="telefone" mask="(99) 99999-9999" [(ngModel)]="client.telefone" [ngClass]="{'ng-invalid ng-dirty' : submitted && !client.telefone}"></p-inputMask>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !client.telefone">Telefone is required.</small>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveClient()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteClientDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="client">Você deseja deletar <b>{{client.nome}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteClientDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteClientsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Tem certeza que deseja excluir os clientes selecionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteClientsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
