<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Deletar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedPets()" [disabled]="!selectedPets || !selectedPets.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="pets" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedPets" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Products</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                        <th pSortableColumn="especie">Especie <p-sortIcon field="especie"></p-sortIcon></th>
                        <th pSortableColumn="idade">Idade <p-sortIcon field="idade"></p-sortIcon></th>
                        <th pSortableColumn="dataNascimento">Data de Nascimento <p-sortIcon field="dataNascimento"></p-sortIcon></th>
                        <th pSortableColumn="peso">Peso <p-sortIcon field="peso"></p-sortIcon></th>
                        <th pSortableColumn="cor">Cor <p-sortIcon field="cor"></p-sortIcon></th>
                        <th pSortableColumn="sexo">Sexo <p-sortIcon field="sexo"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pet>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="pet"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nome</span>
                            {{pet.nome}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Especie</span>
                            {{pet.especie}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Idade</span>
                            {{pet.idade}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Data de Nascimento</span>
                            {{pet.dataNascimento}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Peso</span>
                            {{pet.peso}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Cor</span>
                            {{pet.cor}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Sexo</span>
                            <span [class]="'pet-badge status-' + (pet.sexo ? pet.sexo.toLowerCase() : '')">{{pet.sexo}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editPet(pet)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePet(pet)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="petDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <img [src]="'assets/demo/images/product/' + pet.image" [alt]="pet.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="pet.image">
                <div class="field">
                    <label for="name">Nome</label>
                    <input type="text" pInputText id="nome" [(ngModel)]="pet.nome" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !pet.nome}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !pet.nome">Nome é obrigatório.</small>
                </div>
                <div class="field">
                    <label for="especie">Especie</label>
                    <input type="text" pInputText id="especie" [(ngModel)]="pet.especie" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !pet.especie}"/>
                </div>
                <div class="field">
                    <label for="idade">Idade</label>
                    <input type="text" pInputText id="idade" [(ngModel)]="pet.idade" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !pet.idade}"/>
                </div>
                <div class="field">
                    <label for="name">Data de nascimento</label>
                    <input type="text" pInputText id="dataNascimento" [(ngModel)]="pet.dataNascimento" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !pet.dataNascimento}"/>
                </div>
                <div class="field">
                    <label for="name">Peso</label>
                    <input type="text" pInputText id="peso" [(ngModel)]="pet.peso" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !pet.peso}"/>
                </div>
                <div class="field">
                    <label for="cor">Cor</label>
                    <input type="text" pInputText id="cor" [(ngModel)]="pet.cor" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !pet.cor}"/>
                </div>
                <div class="field">
                    <label for="status">Sexo</label>
                    <p-dropdown [(ngModel)]="pet.sexo" inputId="inventoryStatus" optionValue="label" [options]="sexo" placeholder="Select">
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="pet && pet.sexo" [class]="'product-badge status-' + pet.sexo.toString().toLowerCase()">{{pet.sexo}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="savePet()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletePetDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="pet">Você realmente deseja deletar o PET <b>{{pet.nome}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="deletePetDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletePetsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deletePetsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
