<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedBooks()" [disabled]="!selectedBooks || !selectedBooks.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="books" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedBooks" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Books</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="genre">Genre <p-sortIcon field="genre"></p-sortIcon></th>
                        <th pSortableColumn="subgenre">Subgenre <p-sortIcon field="subgenre"></p-sortIcon></th>
                        <th pSortableColumn="author">Author <p-sortIcon field="author"></p-sortIcon></th>
                        <th pSortableColumn="language">Language <p-sortIcon field="language"></p-sortIcon></th>
                        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-book>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="book"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{ book.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Book</span>
                            {{book.name}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">genre</span>
                            {{ book.genre }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">subgenre</span>
                            {{ book.subgenre }}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">author</span>
                            {{ book.author }}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">language</span>
                            {{ book.language }}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">description</span>
                            {{ book.description }}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editBook(book)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteBook(book)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- ==================================== FORM  ========================================================================-->
        <p-dialog [(visible)]="bookDialog" [style]="{width: '450px'}" header="Book Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Nome</label>
                    <input type="text" pInputText id="name" [(ngModel)]="book.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !book.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !book.name">Name is required.</small>
                </div>

                <div class="field">
                    <label for="genre">genre</label>
                    <input type="text" pInputText id="genre" [(ngModel)]="book.genre" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !book.genre}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !book.grenre">genre is required.</small>
                </div>

                <div class="field">
                    <label for="subgenre">subgenre</label>
                    <input type="text" pInputText id="subgenre" [(ngModel)]="book.subgenre" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !book.subgenre}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !book.grenre">genre is required.</small>
                </div>

                <div class="field">
                    <label for="author">author</label>
                    <input type="text" pInputText id="author" [(ngModel)]="book.author" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !book.author}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !book.author">author is required.</small>
                </div>

                <div class="field">
                    <label for="language">language</label>
                    <input type="text" pInputText id="language" [(ngModel)]="book.language" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !book.language}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !book.language">language is required.</small>
                </div>

                <div class="field">
                    <label for="description">Description</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="book.description" required rows="3" cols="20"></textarea>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveBook()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteBookDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="book">Are you sure you want to delete <b>{{book.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteBookDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteBooksDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected books?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteBooksDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>

         <p-dialog [(visible)]="deleteBooksDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected books?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteBooksDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteBookDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected book?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteBooksDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
